.App.light {
  background-color: #ffffff; /* Light background color */
}

.App.dark {
  background-color: #303030; /* Dark background color */
  height:100vh;
}
/* Default text color */
.App h1 {
  color: #000000; /* Black */
}

/* Text color for dark theme */
.App.dark h1 {
  color: #ffffff; /* White */
}
/* Default background color for AppBar */
.App .MuiAppBar-root {
  background-color: #1976d2; /* Light theme color */
}

/* Dark theme background color for AppBar */
.App.dark .MuiAppBar-root {
  background-color: #303030; /* Dark theme color */
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default background color for AppBar */
.App .MuiAppBar-root {
  background-color: #1976d2; /* Light theme color */
}

/* Dark theme background color for AppBar */
.App.dark .MuiAppBar-root {
  background-color: #303030; /* Dark theme color */
}
#TitleStatement{
  margin-top:10vh;
  margin-left:20vh;
}

